@import "reset";

body {
   background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614439525_3-p-temnii-bolshoi-fon-5.jpg);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 405px;
   border: 1px solid rgba(116, 51, 51, 0.747);
}

.square {
   background-color: #1d1d1d;
   height: 16px;
   width: 16px;
   margin: 2px;
   box-shadow: 0 0 2px #000;
   transition: 2s ease;
   &:hover {
      transition-duration: 0s;
   }
}